input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #999;
}

textarea::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-corner {
    display: none;
}